---
import Layout from "../layouts/Layout.astro"
---


<Layout title="About the project">
    <h1 class="text-white text-4xl text-center">Sobre el proyecto</h1>
    <p class="text-lg text-center">SpaceX launches es una Demo del curso de Astro de MiduDev en donde se aprende a utilizar la herramienta</p>
</Layout>
